<!-- Header Toolbar -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header>
        <!-- Central Containt -->
        <div class="content-div">

            <!-- SideBar List -->
            <sidenavbar></sidenavbar>

            <!-- Main Grid -->
            <div mat-dialog-content>
                {{deidine}}
                <h5 style="text-align: left; margin-top: 5%"> Add New Product</h5>
                <hr class="hr-silver">


                <div style="width: 80%; margin-left: 10% ;">


                    <form [formGroup]="addProductForm" #myForm="ngForm" class="full-width"
                        (ngSubmit)="onSubmit(); myForm.reset()" style="margin-top: 2%">


                        <div class="row">

                            <label> depName</label>
                            <input required type="text" [class.is-invalid]="addProductForm.get('depName').invalid
                                        && addProductForm.get('depName').touched"
                                [class.is-valid]="addProductForm.get('depName').valid" formControlName="depName"
                                class="form-control">

                            <small class="text-danger" [class.d-none]="addProductForm.get('depName').valid
                                              || addProductForm.get('depName').untouched">
                                depName </small>

                        </div>
                        <div class="row">

                            <label>Product depUrl</label>
                            <input required type="text" [class.is-invalid]="addProductForm.get('depUrl').invalid
                                        && addProductForm.get('depUrl').touched"
                                [class.is-valid]="addProductForm.get('depUrl').valid" formControlName="depUrl"
                                class="form-control">

                            <small class="text-danger" [class.d-none]="addProductForm.get('depUrl').valid
                                              || addProductForm.get('depUrl').untouched">
                                depUrl name </small>

                        </div>
                        <div class="row">

                            <label> depTitre</label>
                            <input required type="text" [class.is-invalid]="addProductForm.get('depTitre').invalid
                                        && addProductForm.get('depTitre').touched"
                                [class.is-valid]="addProductForm.get('depTitre').valid" formControlName="depTitre"
                                class="form-control">

                            <small class="text-danger" [class.d-none]="addProductForm.get('depTitre').valid
                                              || addProductForm.get('depTitre').untouched">
                                depTitre </small>

                        </div>
                        <div class="row">
                            <label for="type">entite name</label>

                            <select id="entiteId" class="form-control" name="entiteId" formControlName="entiteId">
                                <option disabled>select one</option>
                                <option *ngFor="let entite of entiteList " value="{{entite.entiteId}}">
                                    {{entite.entiteName}}
                                </option>
                            </select>
                        </div>
                        <button mat-raised-button type="submit" title="Add in Product List"
                            style="width:30%; left:10%; margin-right: 20%; ">
                            <mat-icon>add</mat-icon>
                            ADD
                        </button>

                        <button mat-raised-button type="submit" title="Cancel" (click)="onClickCancel()"
                            style="width:30%; left:10%; ">
                            <mat-icon>cancel</mat-icon>
                            Cancel
                        </button>

                    </form>
                </div>




            </div>
        </div>
    </header>

</body>

</html>