<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ modalData.title }}</h5>
                <button type="button" class="close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="!isOtpVerified">
                    <form [formGroup]="verifyEmailForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" formControlName="email"
                                        placeholder="Entrez l'adresse e-mail enregistrée">
                                    <span class="text-danger"
                                        *ngIf="verifyEmailFormControl.email.touched && verifyEmailFormControl.email.errors?.required">
                                        L'e-mail est requis
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="verifyEmailFormControl.email.touched && verifyEmailFormControl.email.errors?.email">
                                        Entrez une adresse e-mail valide
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3 px-3" *ngIf="modalData.type=='verify'">
                                    <button type="submit" [disabled]="!verifyEmailForm.valid || isLoading"
                                        class="btn btn-primary text-center"> {{modalData.btn}}
                                    </button>
                                </div>
                                <div class="row mb-3 px-3" *ngIf="modalData.type=='reset'">
                                    <button type="submit" [disabled]="!verifyEmailForm.valid || isLoading"
                                        class="btn btn-primary text-center"> {{modalData.btn}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="otpForm" (ngSubmit)="onOTPSubmit()"
                        *ngIf="displayForm && modalData.type=='reset'">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" formControlName="otpNo"
                                        placeholder="Entrez le code OTP à six chiffres">
                                    <span class="text-danger"
                                        *ngIf="otpFormControl.otpNo.touched && otpFormControl.otpNo.errors?.required">
                                        Entrez le code OTP
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="otpFormControl.otpNo.touched && otpFormControl.otpNo.errors?.minlength">
                                        Le code OTP doit comporter six chiffres
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3 px-3" *ngIf="modalData.type=='reset'">
                                    <button type="submit" [disabled]="!otpForm.valid || isLoading"
                                        class="btn btn-primary text-center"> Soumettre OTP
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" *ngIf="isOtpVerified">

                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="Entrez un nouveau mot de passe">
                        <span class="text-danger"
                            *ngIf="resetPasswordFormControl.password.touched && resetPasswordFormControl.password.errors?.required">
                            Le mot de passe est requis
                        </span>
                        <span class="text-danger"
                            *ngIf="resetPasswordFormControl.password.touched && resetPasswordFormControl.password.errors?.invalidPassword">
                            Le mot de passe doit comporter au moins 8 caractères, au moins 1 lettre majuscule, 1 lettre
                            minuscule
                            et 1 chiffre
                        </span>
                    </div>


                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="confirmPassword"
                            placeholder="Confirmez le mot de passe">
                        <span class="text-danger"
                            *ngIf="resetPasswordFormControl.confirmPassword.touched && resetPasswordFormControl.confirmPassword.errors?.required">
                            Confirmez le mot de passe
                        </span>
                        <span class="text-danger"
                            *ngIf="resetPasswordFormControl.confirmPassword.touched && resetPasswordFormControl.confirmPassword.errors?.passwordMismatch">
                            Les mots de passe ne correspondent pas
                        </span>
                    </div>

                    <div class="row mb-3 px-3">
                        <button type="submit" [disabled]="!resetPasswordForm.valid || isLoading"
                            class="btn btn-primary text-center"> Changer le mot de passe
                        </button>
                    </div>
                </form>
                <span class="text-danger" *ngIf="errorMsg">
                    {{ errorMsg }}
                </span>